# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\ПАПКА ТРУ КОДЕРОВ\Магистратура\2 семестр\Индустриальные средства разработки ПО\word_count\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
